@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f6f9ff;
}

ul {
  list-style-type: none;
}

input:not([type="checkbox"]) {
  display: block;
}

.heading {
  color: #012970;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.link {
  color: #4154f1;
  transition: all 0.3s linear;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.regular-text {
  font-size: 20px;
  color: #333;
}

.small-text {
  font-size: 16px;
  color: #808080;
}

.lr-container,
.nf-container,
.terms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 2rem;
}

.nf-container,
.terms-container {
  gap: 4rem;
}

.box {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 4px 8px #b6b6b6;
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

/* Login && Register */

.lr-container .box {
  width: 628px;
}

.lr-container .box .title {
  text-align: center;
}

.lr-container .box .title p {
  margin-top: 0.5rem;
}

.lr-container .single-form-item:not(:first-of-type):not(:last-of-type) {
  margin: 1rem 0;
}

.lr-container .single-form-item input:not([type="checkbox"]) {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #808080;
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  font-size: 16px;
}

.lr-container .single-form-item.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lr-container .single-form-item.checkbox input {
  width: 18px;
  height: 18px;
}

.lr-container .single-form-item.checkbox label {
  color: #333;
}

.lr-container .submit-btn {
  background-color: #4154f1;
  color: #fff;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  letter-spacing: 1px;
  height: 45px;
  transition: all 0.3s linear;
}

.lr-container .submit-btn:hover {
  cursor: pointer;
  background-color: rgba(65, 84, 241, 0.5);
}

.lr-container .bottom-text {
  color: #333;
}

/* 404 */

.nf-container .text-ct h1 {
  font-size: 38px;
  margin-bottom: 1rem;
}

/* Terms and Conditions */

.terms-container .box {
  margin-top: 2rem;
  width: 1000px;
}

/* Header */

header {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px #b6b6b6;
  z-index: 1000;
}

.left-header,
.right-header,
.admin-area {
  display: flex;
  align-items: center;
}

.left-header .logo-area {
  width: 275px;
}

.left-header input {
  width: 320px;
  height: 50px;
  padding-left: 0.75rem;
  font-size: 20px;
  background-color: #efefef;
  border-radius: 4px;
  border: none;
}

.placeholder-icon::-webkit-input-placeholder {
  font-family: FontAwesome;
}

.right-header {
  gap: 1.5rem;
}

.admin-area {
  gap: 0.75rem;
}

.admin-area h4 {
  color: #012970;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  transition: all 0.3s linear;
}

.dropdown-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Sidebar */

.sidebar-container {
  width: fit-content;
  background-color: #fff;
  padding: 0.2rem 0;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
}

.sidebar-container li {
  width: 300px;
}

.sidebar-container a {
  color: #012970;
  margin: 1.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  transition: all 0.3s linear;
}

.sidebar-container hr {
  margin: 1rem 0;
  height: 0.1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-container .active,
.sidebar-container a:hover {
  background-color: #dae9ff;
  border-radius: 4px;
  color: #4154f1;
  cursor: pointer;
}
